# https://aria2.github.io/manual/en/html/aria2c.html#basic-options

enable-rpc=true
rpc-listen-all=true
file-allocation=falloc
continue
dir=/data/downloads/Media
{{- if (index . "aria2") }}
rpc-secret={{ .aria2.secret }}
{{- end }}
