for file in ~/.dotfiles/source/{path,boot,aliases}/*.sh; do
    [ -r "$file" ] && source "$file"
done

# Add dotfiles bin to final path
export PATH="$HOME/.dotfiles/bin:$PATH"

{{if eq .chezmoi.os "darwin"}}
for file in ~/.dotfiles/source/{path,boot,aliases}/osx/*.sh; do
    [ -r "$file" ] && source "$file"
done
export PATH="$HOME/.dotfiles/bin/osx:$PATH"
{{end}}

{{if eq .chezmoi.os "linux"}}
for file in ~/.dotfiles/source/{path,boot,aliases}/linux/*.sh; do
    [ -r "$file" ] && source "$file"
done
export PATH="$HOME/.dotfiles/bin/linux:$PATH"
{{end}}
